@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Prata&display=swap');

/*Reset*/
*{
	padding: 0;
	margin: 0;
}


body{
  overflow-x: hidden;
}


html{
	font-size: 62.5%;
}

h1{
	font-size: 4rem;
}

h2{
	font-size: 3rem;
}

h3, h4{
	font-size: 2.5rem;
}


h1, h2, h3, h4{
	font-family: 'Prata', serif;
	color: #A99F3C ;
	font-weight: 400;
}


nav	{
	padding: 5px 5px;
	position: sticky;
	top: 0;
	left: 0;
}

    nav ul{
    	list-style: none;
    	display: flex;

    }

      nav ul li{
      	margin: 0 10px;
      }

       nav ul li a{
       	font-size: 1.8rem;
       	text-decoration: none;
       	color: #eee2d1 ;
       	font-family: 'Comfortaa', cursive;
       	background-image: linear-gradient(currentColor, currentColor);
   			background-position: 0% 100%;
    		background-repeat: no-repeat;
    		background-size: 0% 2px;
    		transition: background-size .3s;
       }

       nav ul li a:hover{
       	font-weight: 600 ;
       	background-size: 100% 2px;	
       }


body{
	background-color: #FFF4E1 ;
}

p{
	font-family: 'Comfortaa', cursive;
	font-size: 2rem;
	line-height: 2.5rem;
	color: #A99F3C ;
	font-weight: 350;
}


.botonera{
	background-color: #E59D5C;
	opacity: .8;
}

.navegacionBreadcrumbs{
	font-size: 1.8rem;
    text-decoration: none;
    color: #eee2d1 ;
    font-family: 'Comfortaa', cursive;
}

.text-centro{
	text-align: center;
}

.text-izquierda{
	text-align: left;
}

.text-derecha{
	text-align: right;
}

.fondoTexto{
	background-color:#eee2d1;
}


.bienvenidos__texto{
	width: 80%;
	height: auto;
	margin: 30px auto;
	padding: 20px 40px;
	border: solid #A99F3C 2px;
	overflow: auto;
}


.articulos__contenedor{
	width: 90%;
	height: auto;
	margin: 30px auto;
	padding: 10px 10px;
	border: solid #A99F3C 2px;
}

.articulos__texto{
	width: 80%;
	height: auto;
	margin: 30px auto;
	padding: 20px 40px;
	overflow: auto;
}
.presentacion__imagen{
	width: 100%;
	height: auto;
	margin: 30px auto;
	padding: 10px 10px;
	display: flex;
	justify-content: center;
	align-items: center;

}


.blog__texto{
	width: 80%;
	height: auto;
	margin: 30px auto;
	padding: 20px 40px;
	border: solid #A99F3C 2px;
	overflow: auto;
}


.figCaption{
			font-size: 2rem;
			color: #A99F3C ;
			padding: 10px 0;
		}


.formularioTexto{
	font-family: 'Comfortaa', cursive;
	font-size: 1.5rem;
	line-height: 2rem;
	color: #A99F3C;
	font-weight: 350;
}


.pie{
	background-color: #E59D5C;
	opacity: .8;
	padding:8px;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  align-items: center

}

.pieNewsletter{
	font-family: 'Comfortaa', cursive;
	font-size: 2rem;
	line-height: 2.5rem;
	color: #eee2d1;
	font-weight: 350;
}

.botonUno{
color:#eee2d1 ;
background-color:#E59D5C ;
font-family: 'Comfortaa', cursive;
text-decoration: none;
border-radius: 6px ;
font-size: 2rem;
}

.imgHeaders{
	height: 50%;
}


.botonDos{
width: 100px;
height: 30px;
color:#eee2d1 ;
background-color:#E59D5C ;
font-family: 'Comfortaa', cursive;
text-align: center ;
text-decoration: none;
border-radius: 6px ;
margin-left: 50px;
font-size: 1.5rem;
display: flex;
justify-content: center;
align-items: center;
}

.contactUno{
  	margin: 30px auto;
	  padding: 10px 10px;
  	display: flex;
  	justify-content: space-evenly;
  	text-align: center;
}

.contenedorMensaje{
    height: 100px;
    width: 60%;
}

.contenedorDos{
    width: 60%;
}

.contenedorTres{
    width: 10%;
    font-family: 'Comfortaa', cursive;
	  font-size: 1.5rem;
}

#selectores p:first-letter{
    font-family: 'Comfortaa', cursive;
	font-size: 5rem;
	line-height: 3rem;
	color: #A99F3C ;
	font-weight: 500;
	padding: 4px;
}


/*ANIMACIONES*/

.transform:hover{
  transform: translateY(-10px);
  cursor: pointer;
  font-weight: 400 ;
  color:white;
 }

@keyframes textoTitulos{
 	from {opacity: 0}
 	to {opacity: 1}
 }

 h1,h2, h3{
    animation-name: textoTitulos;
    animation-duration: 3s;
 }

 .animacionTextos{
 	animation-name: textoTitulos;
  animation-duration: 3s;
  animation-delay: 0s;
  }

}